<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="triangle" class ="com.shrey.io.Triangle">
		<property name="pointA" ref="zeroPoint" />
		<property name="pointB" ref="point2" />	<!-- //refernce to a bean below it and assigns bean to pointB -->
		<property name="pointC" ref="point3" />	<!-- can have as many nested objects as we want -->
	</bean>
	
	<bean id="zeroPoint" class ="com.shrey.io.Point">
	  		<property name="x" value="0" />
			<property name="y" value="0" />
	</bean>
	
	<bean id="point2" class ="com.shrey.io.Point">
	  		<property name="x" value="-20" />
			<property name="y" value="0" />
	</bean>
	
	<bean id="point3" class ="com.shrey.io.Point">
	  		<property name="x" value="20" />
			<property name="y" value="0" />
	</bean>
	
</beans>